@import 'mixins';
@import 'variables';
@import 'components/hero';
@import 'components/whatwedo';
@import 'components/goal';
@import 'components/contactus';


body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth; 
  transition: scroll-snap-stop 5s ease-in-out;
}

.section {
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always; 
  overflow: auto;
}

.seeMore {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s ease;

  &.expanded {
    max-height: none; 
  }
}

.seeMoreButton {
  cursor: pointer;
  margin-top: 1rem;
}

.hiddenContent {
  margin-top: 1rem;
  overflow: hidden;
}

.mobile-only {
  @include tablets {
      display: none;
  }
}
.desktop-only {
  @include mobile {
      display: none;
  }
}