@use 'sass:math';

//COLORS
$brownColor: #4f4138;
$buttonBgColor: #DD6545;
$whiteColor: #ffffff;
$grayBgColor: #d1d5db;
$blackColor: #000000;
$whiteColor2: #f9f9f9;
$lightGreyColor: #fbfbfb;
$darkGreyColor: #717171;
$iconDarkGreyColor:#262626;

//FONTS
$InnovatorGrotesk: 'Innovator Grotesk';
$InnovatorGroteskBlack: 'Innovator Grotesk Black';
$InnovatorGroteskBold: 'Innovator Grotesk Bold';
$InnovatorGroteskExtraBold: 'Innovator Grotesk Extra Bold';
$InnovatorGroteskLight: 'Innovator Grotesk Light';
$InnovatorGroteskMedium: 'Innovator Grotesk Medium';
$InnovatorGroteskRegular: 'Innovator Grotesk Regular';

//WEIGHTS
$regular: 400;
$semi: 600;
$bold: 700;
$thic: 800;
$xtrathic: 800;
 
//SIZES
$base_font_size: 16px;
$large: 1440px;
$medium: ((math.div($base_font_size, $large))*100)+vw;

@font-face {
    font-family: 'Innovator Grotesk';
    src: url('../../assets/fonts/InnovatorGrotesk.otf');
}

@font-face {
    font-family: 'Innovator Grotesk Black';
    src: url('../../assets/fonts/InnovatorGrotesk-Black.otf');
}

@font-face {
    font-family: 'Innovator Grotesk Bold';
    src: url('../../assets/fonts/InnovatorGrotesk-Bold.otf');
}

@font-face {
    font-family: 'Innovator Grotesk Extra Bold';
    src: url('../../assets/fonts/InnovatorGrotesk-ExtraBold.otf');
}

@font-face {
    font-family: 'Innovator Grotesk Light';
    src: url('../../assets/fonts/InnovatorGrotesk-Light.otf');
}

@font-face {
    font-family: 'Innovator Grotesk Medium';
    src: url('../../assets/fonts/InnovatorGrotesk-Medium.otf');
}

@font-face {
    font-family: 'Innovator Grotesk Regular';
    src: url('../../assets/fonts/InnovatorGrotesk-Regular.otf');
}