@import 'mixins';
@import 'variables';
@import 'components/hero';
@import 'components/whatwedo';
@import 'components/goal';
@import 'components/contactus';


body {
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.snap-start {
  height: 100vh;
  scroll-snap-align: start;
}