.contactContainer {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column; 
    background-color: $lightGreyColor;
    
    .text-Container {
        width: 50%;
        margin: 0 auto;
        
        .header {
            width: 100%;
            margin-top: 10.32dvh; // 80px converted
            text-align: center;
            font-size: cRems(36px); // (No conversion for font-size)
            font-weight: bold;
            color: $brownColor;
            
            @include tablets {
                margin-top: 5.15dvh; // 50px converted
            }
        }
        
        .subheader {
            margin-top: 3.10dvh; // 24px converted
            text-align: center;
            color: $darkGreyColor;
            
            @include tablets {
                margin: 3.10dvh 0; // 24px converted
            }
        }
    }

    .contactWrapper {
        height: 100%;
        background-color: $whiteColor;
        padding: 2.06dvh; // 16px converted
        border-radius: cRems(5px); // (No conversion for border-radius)
        display: flex;
        width: 90%;
        margin: 0 3.76dvw; // 24px converted
        flex-direction: column;
        margin: 5.16dvh auto; // 40px converted
        
        @include tablets {
            margin-top: 8.24dvh; // 80px converted
            margin-left: 4.12dvh; // 40px converted
            min-height: 75dvh;
            flex-direction: row;
            margin: 0 auto;
        }
        
        .infoSection {
            @include tablets {
                width: 33.3333%;
                text-align: left;
            }
            width: 100%;
            background-color: $brownColor;
            color: $whiteColor;
            border-radius: cRems(5px); // (No conversion for border-radius)
            padding: 4.95dvh; // 48px converted
            text-align: center;
            display: flex;
            flex-direction: column;
            
            .title {
                font-size: cRems(26px); // (No conversion for font-size)
                font-weight: bold;
            }
            
            .subtitle {
                margin-top: 3.87dvh; // 30px converted
                
                @include tablets {
                    margin-top: 2.58dvh; // 20px converted
                }
            }
            
            .contactInfo {
                margin-top: 6.19dvh; // 48px converted
                display: flex;
                flex-direction: column;
                gap: 6.19dvh; // 48px converted
                
                @include tablets {
                    margin-top: 8.24dvh; // 80px converted
                }
                
                .contactItem {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2.58dvh; // 20px converted
                    
                    @include tablets {
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: row;
                    }
                    
                    &:nth-child(1) {
                        cursor: pointer;
                        
                        @include tablets {
                            justify-content: flex-start;
                        }
                    }
                    
                    &:nth-child(2) {
                        a {
                            color: $whiteColor;
                            display: flex;
                            align-items: center;
                            gap: 2.58dvh; // 20px converted
                            
                            @include tablets {
                                flex-direction: row;
                            }
                        }
                    }
                    
                    &:nth-child(3) {
                        cursor: pointer;
                        
                        @include tablets {
                            text-align: left;
                        }
                    }
                    
                    .mail-tag {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                    .phone {
                        fill: $whiteColor;
                    }
                }
            }
            
            .socialIcons {
                margin-top: 7.68dvh; // 96px converted
                display: flex;
                justify-content: center;
                
                @include tablets {
                    margin-top: 13.06dvh; // 176px converted
                    justify-content: flex-start;
                }
                
                .icon {
                    width: 1.72dvw; // 22px converted
                    height: 1.72dvw; // 22px converted
                    margin: 0 1.28dvw; // 16px converted
                    background-color: $iconDarkGreyColor;
                    border-radius: 50%; // (No conversion for border-radius)
                    border: cRems(10px) solid $iconDarkGreyColor; // (No conversion for border-radius)
                    
                    &:hover {
                        color: $iconDarkGreyColor;
                        background-color: $whiteColor;
                        border-color: $whiteColor;
                    }
                    
                    @include tablets {
                        margin: 0 1.28dvw 0 0; // 16px converted
                    }
                }
            }
        }

        .formSection {
            margin: 0 auto;
            padding: 3.10dvh 1.55dvw; // 40px 20px converted
            font-family: $InnovatorGrotesk;
            
            @include tablets {
                width: 50vw;
            }
            
            .form {
              display: flex;
              flex-direction: column;
            }
          
            .formGroup {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
                @include tablets {
                    flex-direction: row;
                    margin-bottom: 3.87dvh; // 30px converted
                }
                
                .formControl {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2.06dvh; // 20px converted
                    
                    &:focus-within label {
                        color: $iconDarkGreyColor; 
                    }
                    
                    &:last-child {
                        @include tablets {
                            margin-right: 0;
                        }
                    }
                    
                    label {
                        font-size: cRems(16px); // (No conversion for font-size)
                        color: $grayBgColor;
                        
                        @include tablets {
                            margin-bottom: 1.55dvh; // 10px converted
                        }
                    }
          
                    input, textarea {
                        padding: 1.55dvh; // 10px converted
                        font-size: cRems(16px); // (No conversion for font-size)
                        font-family: $InnovatorGrotesk;
                        color: $iconDarkGreyColor;
                        border: none;
                        border-bottom: 1px solid $grayBgColor;
                        background-color: transparent;
                        outline: none;
                        
                        @include tablets {
                            margin-right: 6.73dvw; // 50px converted
                        }
                        
                        &::placeholder {
                            color: $grayBgColor;
                        }
                        
                        &:focus {
                            border-bottom-color: $iconDarkGreyColor;
                        }
                    }
                }
            }

            .messageControl {
                margin-bottom: 3.87dvh; // 30px converted
                
                @include tablets {
                    margin-top: 7.68dvh; // 75px converted
                }
                
                &:focus-within label {
                    color: $iconDarkGreyColor;
                }
                
                label {
                    font-size: cRems(16px); // (No conversion for font-size)
                    color: $grayBgColor;
                    margin-bottom: 1.55dvh; // 10px converted
                }
                
                textarea {
                    width: 100%;
                    padding: 1.55dvh; // 10px converted
                    font-size: cRems(16px); // (No conversion for font-size)
                    color: $iconDarkGreyColor;
                    border: none;
                    border-bottom: 1px solid $grayBgColor;
                    background-color: transparent;
                    font-family: $InnovatorGrotesk;
                    outline: none;
                    
                    @include tablets {
                        width: 95%;
                    }
                    
                    &::placeholder {
                        color: $grayBgColor;
                    }
                    
                    &:focus {
                        border-bottom-color: $iconDarkGreyColor;
                    }
                }
            }
            
            .buttonContainer {
                position: relative;
                
                .submitButton {
                    padding: 1.55dvh; // 15px converted
                    font-size: cRems(16px); // (No conversion for font-size)
                    background-color: $brownColor;
                    color: $whiteColor;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 0.13dvw; // 1px converted
                    border-radius: cRems(5px); // (No conversion for border-radius)
                    
                    @include mobile {
                        width: 100%;
                    }
                    
                    @include tablets {
                        position: absolute;
                        right: 0;
                        margin-right: 6.73dvw; // 50px converted
                        border-radius: cRems(16px); // (No conversion for border-radius)
                        padding: 1.55dvh 4.95dvw; // 15px 48px converted
                        background-color: $buttonBgColor;
                    }
                    
                    &:hover {
                        background-color: lighten($buttonBgColor, 10%);
                    }
                }
            }
        }
    }
}
