.contactContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; 
    background-color: $whiteColor2;
    .header {
        width: 100%;
        margin-top: 5rem; 
        text-align: center;
        font-size: 2.25rem; 
        font-weight: bold;
        color: $brownColor;
    }

    .subheader {
        margin-top: 1.5rem; 
        text-align: center;
        color: $darkGreyColor;
    }

    .contactWrapper {
        @include tablets {
            margin-top: 5rem; 
            margin-left: 2.5rem;
        }
        height: 100%;
        background-color: $whiteColor;
        padding: 1rem; 
        border-radius: 8px; 
        display: flex;
        width: 90%;
        margin: 0 1.5rem; 
        flex-direction: column;
        margin: 2.5rem auto;

        @include tablets {
            flex-direction: row;
            margin: 0 auto;
        }

        .infoSection {
            @include tablets {
                width: 33.3333%;
            }
            width: 100%;
            background-color: $brownColor;
            color: $whiteColor;
            border-radius: 10px;
            padding: 3rem;
            text-align: center;
            display: flex;
            flex-direction: column;

            .title {
                font-size: 2.25rem;
                font-weight: bold;
            }

            .subtitle {
                margin-top: 2.5rem;
                font-size: 1.25rem;
            }

            .contactInfo {
                margin-top: 3rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .contactItem {
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;

                    &:nth-child(1) {
                        cursor: pointer;
                        @include tablets {
                            justify-content: flex-start;
                        }
                    }

                    &:nth-child(2) {
                        a {
                            color: $whiteColor;
                            display: flex;
                            align-items: center;
                            gap: 1.25rem;
                        }
                    }

                    &:nth-child(3) {
                        cursor: pointer;
                        @include tablets {
                            justify-content: flex-start;
                        }
                    }
                }
            }

            .socialIcons {
                margin-top: 6rem;
                display: flex;
                justify-content: center;

                @include tablets {
                    justify-content: flex-start;
                }

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: 1rem;
                }
            }
        }

        .formSection {
            @include tablets {
                width: 66.6667%;
                margin: 0 5rem;
            }
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            color: $brownColor;

            .form {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .formGroup {
                    display: flex;
                    flex-direction: column;

                    @include tablets {
                        flex-direction: row;
                        gap: 2.5rem;
                    }

                    .formControl {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        width: 100%;

                        @include tablets {
                            width: 90%;
                        }

                        label {
                            margin-bottom: 0.5rem;
                        }

                        input, textarea {
                            border-bottom: 1px solid $blackColor;
                            padding: 0.5rem;
                            outline: none;
                            border-color: transparent;

                            &:focus {
                                border-bottom: 1px solid $blackColor;
                            }
                        }
                    }

                    .messageControl {
                        @include tablets {
                            width: 50%;
                        }
                    }
                }

                .submitButton {
                    background-color: $buttonBgColor;
                    color: $whiteColor;
                    padding: 0.5rem 1.5rem;
                    border-radius: 14px;
                    cursor: pointer;
                    border: none;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
    }
}
