.contactContainer.section.small-window {
    min-height: unset;
}
.contactContainer {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column; 
    background-color: $whiteColor2;
    @include mobile {
        background-color: $whiteColor;
    }
    .test {
        margin: 0 auto;
        @include mobile {
            min-height: 100svh;
            margin: 0 8dvw;
        }
        @include tablet {
            max-width: 100dvw;
        }
        @include desktop {
            max-width: 100dvw;
        }
    }
    .text-Container {
        width: 50%;
        margin: 0 auto;
        @include mobile {
            width: 70dvw;
            margin: 0;
        }
        .header {
            width: 100%;
            margin-top: 5.397dvw;
            text-align: center;
            font-size: clamp(4.354dvw, 2.389dvw, 4.354dvw);
            font-weight: bold;
            color: $brownColor;
            font-family: $InnovatorGrotesk;
            @include mobile {
                font-size: 8dvw;
                text-align: left;
            }
            @include tablet {
                margin-top: 4dvw;
                font-size: 2.8dvw;
            }
            @include desktop {
                margin-top: 4dvw;
                font-size: 2.8dvw;
            }
        }
        
        .subheader {
            text-align: center;
            color: $darkGreyColor;
            font-family: $InnovatorGroteskRegular;
            @include mobile {
                text-align: left;
                margin-top: 4dvw;
                font-size: 4dvw;
            }
            @include tablet {
                margin: 1.594dvw 0;
                font-size: 1.1dvw;
            }
            @include desktop {
                font-size: 1.1dvw;
                margin: 1.594dvw 0;
            }
        }
    }

    .contactWrapper {
        height: 100%;
        background-color: $whiteColor;
        padding: 1.059dvw;
        border-radius: cRems(5px);
        display: flex;
        width: 90%;
        margin: 0 1.931dvw;
        flex-direction: column;
        margin: 2.653dvw auto;
        
        @include mobile {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        
        @include tablet {
            margin-top: 4.237dvw;
            margin-left: 2.122dvw;
            min-height: 38.555dvw;
            flex-direction: row;
            margin: 0 auto;
            margin-bottom: 2dvw;
        }
        @include desktop {
            margin-top: 4.237dvw;
            margin-left: 2.122dvw;
            min-height: 38.555dvw;
            flex-direction: row;
            margin: 0 auto;
            margin-bottom: 2dvw;
        }
        
        .infoSection {
            width: 100%;
            background-color: $brownColor;
            color: $whiteColor;
            border-radius: cRems(5px);
            padding: 2.544dvw;
            text-align: center;
            display: flex;
            flex-direction: column;
            @include tablet {
                width: 30dvw;
                text-align: left;
                height: 45dvw;
            }
            @include desktop {
                width: 30dvw;
                text-align: left;
                height: 45dvw;
            }
            .title {
                font-size: clamp(2.827dvw, 1.696dvw, 3.855dvw);
                font-family: $InnovatorGroteskBold;
                @include tablet {
                    font-size: 1.6dvw;
                }
                @include desktop {
                    font-size: 1.6dvw;
                }
            }
            
            .subtitle {
                margin-top: 1.989dvw;
                font-family: $InnovatorGroteskRegular;
                @include tablet {
                    margin-top: 1.328dvw;
                    font-size: 1.1dvw;
                }
                @include desktop {
                    margin-top: 1.328dvw;
                    font-size: 1.1dvw;
                }
            }
            
            .contactInfo {
                margin-top: 3.181dvw;
                display: flex;
                flex-direction: column;
                gap: 2.669dvw;
                @include tablet {
                    margin-top: 8dvw;
                }
                @include desktop {
                    margin-top: 8dvw;
                }
                
                .contactItem {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.328dvw;
                    font-family: $InnovatorGroteskRegular;
                    @include tablet {
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: row;
                        font-size: 1.1dvw;
                    }
                    @include desktop {
                        justify-content: flex-start;
                        align-items: flex-start;
                        flex-direction: row;
                        font-size: 1.1dvw;
                    }
                    
                    &:nth-child(1) {
                        cursor: pointer;
                        @include tablet {
                            font-size: 1.1dvw;
                            justify-content: flex-start;
                        }
                        @include desktop {
                            justify-content: flex-start;
                            font-size: 1.1dvw;
                        }
                    }
                    
                    &:nth-child(2) {
                        a {
                            color: $whiteColor;
                            display: flex;
                            align-items: center;
                            gap: 1.328dvw;
                            @include tablet {
                                font-size: 1.1dvw;
                                flex-direction: row;
                            }
                            @include desktop {
                                flex-direction: row;
                                font-size: 1.1dvw;
                            }
                        }
                    }
                    
                    &:nth-child(3) {
                        cursor: pointer;
                        @include tablet {
                            font-size: 1.1dvw;
                            text-align: left;
                        }
                        @include desktop {
                            font-size: 1.1dvw;
                            text-align: left;
                        }
                    }
                    
                    .mail-tag {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                    .phone {
                        fill: $whiteColor;
                        @include tablet {
                            height: 1.5dvw;
                            width: 1.5dvw;
                        }
                        @include desktop {
                            height: 1.5dvw;
                            width: 1.5dvw;
                        }
                    }
                    .lucide-mail {
                        @include tablet {
                            height: 1.5dvw;
                            width: 1.5dvw;
                        }
                        @include desktop {
                            height: 1.5dvw;
                            width: 1.5dvw;
                        }
                    }
                    .lucide-map-pin {
                        @include tablet {
                            height: 1.5dvw;
                            width: 2.5dvw;
                        }
                        @include desktop {
                            height: 1.5dvw;
                            width: 2.5dvw;
                        }
                    }
                }
            }
            
            .socialIcons {
                margin-top: 3.948dvw;
                display: flex;
                justify-content: center;
                
                @include tablet {
                    margin-top: 13.6dvw;
                    justify-content: flex-start;
                }
                @include desktop {
                    margin-top: 13.6dvw;
                    justify-content: flex-start;
                }
                
                .icon {
                    width: 0.514dvw;
                    height: 0.514dvw;
                    margin: 0 0.659dvw;
                    background-color: $iconDarkGreyColor;
                    border-radius: 50%;
                    border: 0.6dvw solid $iconDarkGreyColor;
                    
                    &:hover {
                        color: $iconDarkGreyColor;
                        background-color: $whiteColor;
                        border-color: $whiteColor;
                    }
                    
                    @include tablet {
                        margin: 0 0.659dvw 0 0;
                        height: 1.5dvw;
                        width: 1.5dvw;
                        border: 0.6dvw solid $iconDarkGreyColor;
                    }
                    @include desktop {
                        width: 1.5dvw;
                        height: 1.5dvw;
                        border: 0.6dvw solid $iconDarkGreyColor;
                        margin: 0 0.659dvw 0 0;
                    }
                }
            }
        }

        .formSection {
            margin: 0 auto;
            padding: 1.594dvw 0.795dvw;
            font-family: $InnovatorGrotesk;
            @include mobile {
                margin: 0;
                padding: 0;
                height: 100%;
            }
            @include tablet {
                width: 70dvw;
            }
            @include desktop {
                width: 70dvw;
            }
            
            .form {
              display: flex;
              flex-direction: column;

            @include tablet {
                padding-left: 4dvw;
                padding-top: 2.5dvw;
            }
            @include desktop {
                padding-left: 4dvw;
                padding-top: 2.5dvw;
            }
          
            .formGroup {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                
                @include tablet {
                    flex-direction: row;
                    margin-bottom: 1.989dvw;
                }
                @include desktop {
                    flex-direction: row;
                    margin-bottom: 1.989dvw;
                }
                
                .formControl {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1.059dvw;
                    
                    @include mobile {
                        margin: 4dvw 0;
                    }
                    &:focus-within label {
                        color: $iconDarkGreyColor; 
                    }
                    
                    &:last-child {
                        @include tablet {
                            margin-right: 0;
                        }
                        @include desktop {
                            margin-right: 0;
                        }
                    }
                    
                    label {
                        color: $inputColor;
                        font-family: $InnovatorGroteskRegular;
                        @include mobile {
                            font-size: 4dvw;
                            margin-bottom: 3dvw;
                        }
                        @include tablet {
                            margin-bottom: 0.797dvw;
                            font-size: 1dvw;
                        }
                        @include desktop {
                            margin-bottom: 0.797dvw;
                            font-size: 1dvw;
                        }
                    }
          
                    input, textarea {
                        font-size: cRems(16px);
                        font-family: $InnovatorGrotesk;
                        color: $iconDarkGreyColor;
                        border: none;
                        border-bottom: 1px solid $inputColor;
                        background-color: transparent;
                        outline: none;
                        @include mobile {
                            padding: 0.797dvw 3dvw;
                            border-radius: 0;
                            font-size: 4dvw;
                        }
                        @include tablet {
                            margin-right: 3.465dvw;
                            padding: 0.797dvw;
                            font-size: 1.2dvw;
                        }
                        @include desktop {
                            font-size: 1.2dvw;
                            padding: 0.797dvw;
                            margin-right: 3.465dvw;
                        }
                        
                        &::placeholder {
                            color: $grayBgColor;
                        }
                        
                        &:focus {
                            border-bottom-color: $iconDarkGreyColor;
                        }
                    }
                }
            }

            .messageControl {
                margin-bottom: 1.989dvw;
                @include tablet {
                    margin-top: 6dvw;
                }
                @include desktop {
                    margin-top: 6dvw;
                }
                
                &:focus-within label {
                    color: $iconDarkGreyColor;
                }
                
                label {
                    color: $inputColor;
                    font-family: $InnovatorGroteskRegular;
                    @include mobile {
                        font-size: 4dvw;
                    }
                    @include tablet {
                        margin-bottom: 0.797dvw;
                        font-size: 1dvw;

                    }
                    @include desktop {
                        margin-bottom: 0.797dvw;
                        font-size: 1dvw;
                    }
                }
                textarea {
                    width: 100%;
                    color: $iconDarkGreyColor;
                    border: none;
                    border-bottom: 1px solid $inputColor;
                    background-color: transparent;
                    font-family: $InnovatorGrotesk;
                    outline: none;
                    @include mobile {
                        font-size: 4dvw;
                        margin-top: 3dvw;
                        padding: 0 3dvw;
                        height: 15dvw;
                        border-radius: 0;
                        margin-bottom: 6dvw;
                    }
                    @include tablet {
                        font-size: 1.2dvw;
                        width: 93.5%;
                        padding-left: 0.797dvw;
                        padding-top: 1.5dvw;
                        height: 3.95dvw;
                    }
                    @include desktop {
                        font-size: 1.2dvw;
                        width: 93.5%;
                        padding-left: 0.797dvw;
                        padding-top: 1.5dvw;
                        height: 3.95dvw;
                    }
                
                    &::placeholder {
                        color: $inputColor;
                    }
                
                    &:focus {
                        border-bottom-color: $iconDarkGreyColor;
                    }
                }
            }
                .buttonContainer {
                    position: relative;
                
                    .submitButton {
                        padding: 0.797dvw;
                        font-size: cRems(16px);
                        background-color: $brownColor;
                        color: $whiteColor;
                        border: none;
                        cursor: pointer;
                        border-radius: cRems(5px);
                
                        @include mobile {
                            width: 100%;
                            padding: 4dvw;
                            font-size: 5dvw;
                            border-radius: cRems(16px);
                        }
                
                        @include tablet {
                            position: absolute;
                            right: 0;
                            margin-right: 3.515dvw;
                            border-radius: cRems(16px);
                            padding: 0.797dvw 2.578dvw;
                            background-color: $buttonBgColor;
                            font-size: 1.2dvw;
                        }
                        @include desktop {
                            position: absolute;
                            right: 0;
                            margin-right: 3.515dvw;
                            border-radius: cRems(16px);
                            padding: 0.797dvw 2.578dvw;
                            background-color: $buttonBgColor;
                            font-size: 1.2dvw;
                        }
                
                        &:hover {
                            background-color: $brownColor;
                        }
                    }
                }
            }
        
        }                
    }
    .footer-Wrapper {
        color: $whiteColor;
        background-color: $brownColor;
        min-height: 80svh;
        .title {
            font-family: $InnovatorGroteskBlack;
            font-size: 5dvw;
            margin: 6dvw;
            margin-bottom: 12dvw;
        }
        .footer-Container {
            display: flex;
            flex-direction: row;
            .contactInfo {
                margin-left: 6dvw;
                width: 55%;                
                .contacttitle {
                    font-size: 4dvw;
                    font-family: $InnovatorGroteskBold;
                    margin-bottom: 6dvw;
                }
                .contactsubtitle {
                    font-family: $InnovatorGroteskLight;
                    font-size: 3dvw;
                    margin-right: 8dvw;
                }
                .contactItem {
                    margin: 6dvw 0;
                    .icon {
                        margin-bottom: 2dvw;
                    }
                }
            }
            .legalInfo {
                .legaltitle {
                    font-size: 4dvw;
                    font-family: $InnovatorGroteskBold;
                    margin-bottom: 6dvw;                    
                }
                .legalsubtitle {
                    font-family: $InnovatorGroteskLight;
                    font-size: 3dvw;
                    margin: 4dvw 0;
                }
            }
        }
        .socialtitle {
            text-align: center;
            font-size: 4dvw;
            font-family: $InnovatorGroteskLight;
            margin-bottom: 6dvw;     
            margin-top: 30dvw;               
        }
        .socialIcons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 4dvw;
            .fa-linkedin,.fa-instagram {
                height: 7dvw;
                width: 7dvw;
            }
            .icon {
                padding: 0 3dvw;
                color: white;
                fill: white;
            }
        }
    }
}
