.goal-Component {
    background-color: $whiteColor2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .goal-Container {
        background-color: $buttonBgColor;
        width: 100vw;
        height: 80dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablets {
            height: 60dvh;
            justify-content: flex-start;
        }
        .goalText-Container {
            margin: 0 cRems(35px);
            font-family: $InnovatorGrotesk;
            font-weight: $bold;
            @include tablets {
                margin: 0 cRems(75px);
            }
            .goal-Title {
                font-size: cRems(42px);
                margin-bottom: cRems(60px); 
            }
            .goal-Description {
                font-size: cRems(46px);
                font-weight: $bold;
                line-height: 1.2;
                .nextmgzn-Highlight {
                    color: $brownColor;
                    font-size: cRems(46px);
                    @include mobile {
                        display: block;
                    }
                }
            }
        }
    }
}
