.goal-Component.section {
    min-height: unset;
}
.goal-Component {
    background-color: $whiteColor2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whiteColor;

    .goal-Container {
        background-color: $buttonBgColor;
        width: 100vw;
        height: 100dvw;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            height: 25dvw;
            justify-content: flex-start;
        } 
        @include desktop {
            height: 25dvw;
            justify-content: flex-start;
        }
        .goalText-Container {
            margin: 0 8.235dvw;
            font-family: $InnovatorGroteskExtraBold;
            @include tablet {
                margin: 0 5dvw;
            }
            @include desktop {
                margin: 0 5dvw;
            }
            .goal-Title {
                font-size: 2.8dvw;
                margin-bottom: 4dvw;
                @include mobile {
                    font-size: 7.9dvw;
                    margin-bottom: 10dvw;
                }
            }
            .goal-Description {
                font-size: 2.8dvw;
                font-weight: $bold;
                line-height: 1.2;
                @include mobile {
                    font-size: 7.9dvw;
                }

                .nextmgzn-Highlight {
                    color: $brownColor;
                    font-size: 2.8dvw;
                    @include mobile {
                        display: block;
                        font-size: 7.9dvw;
                    }
                }
            }
        }
    }
}
