.heroPage-Container {
    min-height: 100dvh;
    background-color: $brownColor;
    position: relative;
    .heroLogo-Container {
        @include tablets {
            position: relative;
        }
        .nextmgzn-logo {
            height: 20dvh;
            width: 35dvw;
            position: relative;
            z-index: 1;
            margin: 4dvh 8dvw;
            @include tablets {
                position: relative;
                width: 13dvw;
                height: 30dvh;
                margin: 5dvh 5dvw;
            }
        }
    }
    .heroBanner {
        position: absolute;
        top: 0;
        height: 65dvh;
        width: 100dvw;
        object-fit: cover;
        @include tablets {
            right: 0;
            height: 100dvh;
            width: 35dvw;
        }
    }
    .heroText-Container {
        z-index: 3;
        position: relative;

        @include mobile {
            position: absolute;
            margin: 4dvh 8dvw;
            top: 65dvh;
        }
        @include tablets {       
            margin: 5dvh 5dvw;
        }
        .heroHeading { 
            font-family: 'Innovator Grotesk';
            font-weight: $bold;
            font-size: clamp(3.5dvw, 4.129dvh, 7.529dvw);
            @include tablets {
                font-size: clamp(3dvh, 3.556dvw, 7dvh);
            }
        }
    }
    .heroButton-Container {
        max-width: min-content;
        @include mobile {
            margin-top: 6.452dvh;
        }
        .heroButton {
            color: $whiteColor;
            font-weight: $bold;
            background-color: $buttonBgColor;
            font-family: 'Innovator Grotesk';
            border-radius: cRems(16px);
            text-align: center;                
            border: none;
            @include mobile {
                width: 80dvw;
                padding: 1.548dvh 15.059dvw;
                font-size: clamp(1.581dvh, 4.706dvw, 3.581dvh);
            }
            @include tablets {
                margin-top: 4.63dvh;
                font-size: clamp(1.5dvh, 1.458dvw, 3.5dvh);
                padding: 1dvh 1.667dvw;
            }
        }
    }
}