.heroPage-Container.section.small-window {
    min-height: unset;
  }
.heroPage-Container {
    background-color: $brownColor;
    position: relative;
    @include mobile {
        max-height: 100svh;
    }
    .heroLogo-Container {
        @include desktop {
            position: relative;
        }
        .nextmgzn-logo {
            width: cRems(200px);
            height: cRems(200px);
            position: relative;
            z-index: 2;
            margin: 2.25dvw 8dvw;
            @include tablet {
                position: relative;
                width: cRems(230px);
                height: cRems(230px);
                margin: 2.8125dvw 5dvw 0;
            }
            @include desktop {
                position: relative;
                width: cRems(230px);
                height: cRems(230px);
                margin: 2.8125dvw 5dvw;
            }
        }
    }
    .heroBanner {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 65svh;
        object-fit: cover;
        width: 100vw;
        @include tablet {
            width: 47.5dvw;
            top: 0;
            right: 0;
            height: 100%;
        }
        @include desktop {
            top: 0;
            right: 0;
            height: 100%;
            width: 42dvw;
        }
    }
    .heroText-Container {
        z-index: 1;
        position: relative;
        color: $whiteColor;
        @include mobile {
            position: absolute;
            top: 65svh;
            margin: 12dvw 10dvw; 
            width: -webkit-fill-available;
            text-wrap: nowrap;
        }
        @include tablet {
            margin: 0 5dvw;
        }
        @include desktop {
            margin: 2.8125dvw 5dvw;
        }
        .heroHeading { 
            font-family: $InnovatorGroteskExtraBold;
            font-weight: $bold;
            @include mobile {
                font-size: 5.5dvw;
            }
            @include tablet {
                font-size: 3.85575dvw;
            }
            @include desktop {
                font-size: 3.85575dvw;
            }

        }

    }
    .heroButton-Container {
        max-width: min-content;

        @include mobile {
            max-width: min-content;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .heroButton {
            color: $whiteColor;
            font-family: $InnovatorGroteskBold;
            font-weight: $bold;
            background-color: $buttonBgColor;
            border-radius: cRems(16px);
            text-align: center;                
            border: none;
            @include mobile {
                width: 80vw;
                margin-top: cRems(50px);
                padding: 2dvw 15.059dvw;
                font-size: cRems(20px);
            }
            @include tablet {
                margin-top: 2.603125dvw;
                font-size: 2dvw;
                padding: 0.8dvw 2.667dvw;
                margin-bottom: cRems(112px);
            }
            @include desktop {
                margin-top: 2.603125dvw;
                font-size: 2dvw;
                padding: 0.8dvw 2.667dvw;
                margin-bottom: cRems(112px);
            }

        }
    }
}