.whatWeDoContainer {
    display: flex;
    flex-direction: column;
    background-color: $whiteColor2;
    min-height: 100dvh;
    .wwd-title {
        text-align: left;
        margin: 6.204dvh 0 5.168dvh 8.235dvw;
        color: $brownColor;
        font-family: $InnovatorGrotesk;
        font-weight: $bold;
        @include tablets {
            font-size: clamp(1.083dvw, 3.704dvh, 3dvw);
            margin: 11.490dvh auto 7.704dvh auto;
        }
    }
    .wwdContent-Container {
        margin: 0 8.235dvw;
        overflow-wrap: anywhere;
        color: $blackColor;

        @include tablets {
            margin: 0 4.167dvw;
        }
        .wwd-Content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4.967dvh 2.323dvw;
            margin-bottom: 7.239dvh;
            .wwd-item {
                display: flex;
                flex-direction: column;
                .wwd-icon {
                    background-color: $grayBgColor;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height:  13.176dvw;
                    width:  13.176dvw;
                }
                .wwd-heading {
                    margin-top: 3.225dvh;
                    font-weight: bold;
                    font-size: clamp(3.442dvw, 2.070dvh, 5.442dvw);
                }
                .wwd-info {
                    margin-top: 1.612dvh;
                }
            }
            @include tablets {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 8.267dvh 1.042dvw;
                margin-bottom: 10.341dvh;
                .wwd-item {                 
                    .wwd-icon {
                        width: 3.333dvw;
                        height: 3.333dvw;
                    }
                    .wwd-info {
                        margin-right: 1.481dvw;
                        font-size: clamp(0.333dvw, 1.812dvh, 1.633dvw);
                    }
                }
            }
        }
        .wwd-desktopView {
            @include mobile {
                display: none;
            }
        }

        .wwd-mobileView {
            @include tablets {
                display: none;
            }
        }
    }
    .seeMore-Button {
        width: 100%;
        height: 100%;
        margin-bottom: 10.341dvh;
        text-align: center;
        @include tablets {
            margin-top: -2.167dvw;
        }
        .seeMore {
            background-color: $brownColor;
            color: $whiteColor;
            padding: 0.827dvh 1.547dvw;
            border-radius: cRems(16px);
            border: none;
            cursor: pointer;
            font-weight: $bold;
            font-size: clamp(0.233dvw, 1.612dvh, 1.433dvw);
            font-family: $InnovatorGrotesk;
            @include mobile {
                padding: 1.227dvh 5.547dvw;
                font-size: clamp(3.233dvw, 1.612dvh, 1.433dvw);
            }
        }
    }
    .mobile-Button {
        @include tablets {
            display: none;
        }
    }
    .desktop-Button {
        @include mobile {
            display: none;
        }
    }
}
