// .whatWeDoContainer.section.small-window {
//     min-height: unset;
//   }
.whatWeDoContainer.section {
    min-height: unset;
  }
.whatWeDoContainer {
    display: flex;
    flex-direction: column;
    background-color: $whiteColor2;
    // min-height: 100dvh; 
    .wwd-title {
        text-align: left;
        color: $brownColor;
        font-family: $InnovatorGroteskExtraBold;
        @include mobile {
            font-size: 5.4dvw;
            margin: 10dvw 6.235dvw;
        }
        @include tablet {
            font-size: 3dvw;
            margin: 5.908dvw auto 3.961dvw auto;
        }
        @include desktop {
            font-size: 3dvw;
            margin: 5.908dvw auto 3.961dvw auto;
        }
    }
    
    .wwdContent-Container {
        margin: 0 9dvw;
        overflow-wrap: anywhere;
        color: $blackColor;
        @include tablet {
            margin: 0 4.167dvw;
        }
        @include desktop {
            margin: 0 4.167dvw;
        }
        .wwd-Content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6dvw 9dvw;
            margin-bottom: 3.725dvw;
            .wwd-item {
                display: flex;
                flex-direction: column;
                .wwd-icon {
                    background-color: $grayBgColor;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 8.5dvw;
                    width: 8.5dvw;
                }
                .wwd-heading {
                    font-family: $InnovatorGroteskBold;
                    margin-top: 2.3dvw;
                    font-size: 3.442dvw;
                }
                .wwd-info {
                    font-family: $InnovatorGroteskRegular;
                    margin-top: 0.829dvw;
                }
            }
            @include tablet {
                grid-template-columns: repeat(3, 1fr);
                gap: 5dvw 2dvw;
                margin-bottom: 5.309dvw;
                .wwd-item {                 
                    .wwd-icon {
                        width: 4.333dvw;
                        height: 4.333dvw;
                    }
                    .wwd-heading {
                        font-size: 2dvw;
                    }
                    .wwd-info {
                        margin-right: 0.761dvw;
                        font-size: 1.3dvw;
                    }
                }
            }
            @include desktop {
                grid-template-columns: repeat(4, 1fr);
                gap: 4.254dvw 1.042dvw;
                margin-bottom: 5.309dvw;
                .wwd-item {                 
                    .wwd-icon {
                        width: 3.333dvw;
                        height: 3.333dvw;
                    }
                    .wwd-heading {
                        font-size: 1.442dvw;
                    }
                    .wwd-info {
                        margin-right: 0.761dvw;
                        font-size: 0.93dvw;
                    }
                }
            }
        }
        .wwd-mobileView {
            @include tablet {
                display: none;
            }
            @include desktop {
                display: none;
            }
        }
        .wwd-tabletView {
            @include mobile {
                display: none;
            }
            @include desktop {
                display: none;
            }
        }                
        .wwd-desktopView {
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
        }
    }
    .seeMore-Button {
        width: 100%;
        height: 100%;
        margin-bottom: 5.309dvw;
        text-align: center;
        @include mobile {
            margin-top: 8dvw;
        }
        @include desktop {
            margin-top: -1.114dvw;
            margin-bottom: 4.3dvw;
        }
        .seeMore {
            background-color: $brownColor;
            color: $whiteColor;
            border-radius: cRems(16px);
            border: none;
            cursor: pointer;
            font-family: $InnovatorGroteskMedium;
            @include mobile {
                padding: 1.631dvw 3.856dvw;
                font-size: 3.233dvw;
            }
            @include tablet {
                padding: 0.8dvw 3dvw;
                font-size: 1.2dvw;
            }
            @include desktop {
                padding: 0.8dvw 3dvw;
                font-size: 1.2dvw;
            }
        }
    }
    .mobile-Button {
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }
    .tablet-Button {
        @include mobile {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }
    .desktop-Button {
        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
    }
}
