.goalContainer {
    background-color: $buttonBgColor;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    padding: 3rem 0;
    .title {
        margin: 0 1.5rem;
        color: $whiteColor;
        font-size: 2.25rem;
        font-weight: bold;
        text-align: center;
        
        @include medium {
            font-size: 4rem;
        }
    }

    .description {
        color: $whiteColor;
        font-size: 2.25rem;
        font-weight: bold;
        margin-top: 3rem; 
        margin: 0 1.5rem; 
        width: 66.6667%; 

        @include medium {
            font-size: 4rem; 
        }
    }

    .highlight {
        color: $primaryBgColor;
        font-weight: extra-bold;
        padding-top: 2rem; 
    }
}
