.heroContainer {
    width: 100%;
    display: flex;
    background-color: $primaryBgColor;
    height: 100vh;
    flex-direction: column;

    .heroLogo {
        position: absolute;
        z-index: 20;
        margin: cRems(40px) cRems(32px);

        .heroLogoImage {
            width: cRems(122px);
   
            @include medium {
                width: 15rem;
                height: 15rem;
                padding-left: 65px;
                margin-top: -50px;
            }
        }
    }
    .heroImageContainer {
        @include medium {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .heroImage {
            object-fit: cover;
            content:url('../../../public/heroBanner_mobile.svg');
            @include medium {
                content:url('../../../public/headerBg.svg');
                height: 100vh;
                // width: 100%;
            }
        }
    }

        .heroTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @include medium {
                position: absolute;
                top: cRems(400px);
                padding-left: cRems(95px);
            }

            .heroHeading {
                color: $whiteColor;
                font-weight: 800;
                font-size: cRems(32px);
                width: calc(90% - 100px);
                text-align: center;

                @include medium {
                    font-size: cRems(60px);                    
                    text-align: start;
                    margin: 0;
                    width: cRems(700px);
                }
            }
                .heroButton {
                    padding: 0.75rem 1.5rem;
                    background-color: $buttonBgColor;
                    border-radius: 14px;
                    text-align: center;
                    border: none;

                    @include medium {
                        width: fit-content;
                    }
                }
            }
    }