/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/styles/main.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Innovator Grotesk";
  src: url(/_next/static/media/InnovatorGrotesk.3ca2663e.otf);
}
@font-face {
  font-family: "Oilvare Base";
  src: url(/_next/static/media/OilvareBase.9c06d411.ttf);
}
@font-face {
  font-family: "Oilvare Base Regular";
  src: url(/_next/static/media/OilvareBaseRegular.82147692.ttf);
}
.heroPage-Container {
  min-height: 100dvh;
  background-color: #4f4138;
  position: relative;
}
@media only screen and (min-width: 640px) {
  .heroPage-Container .heroLogo-Container {
    position: relative;
  }
}
.heroPage-Container .heroLogo-Container .nextmgzn-logo {
  height: 20dvh;
  width: 35dvw;
  position: relative;
  z-index: 1;
  margin: 4dvh 8dvw;
}
@media only screen and (min-width: 640px) {
  .heroPage-Container .heroLogo-Container .nextmgzn-logo {
    position: relative;
    width: 13dvw;
    height: 30dvh;
    margin: 5dvh 5dvw;
  }
}
.heroPage-Container .heroBanner {
  position: absolute;
  top: 0;
  height: 65dvh;
  width: 100dvw;
  object-fit: cover;
}
@media only screen and (min-width: 640px) {
  .heroPage-Container .heroBanner {
    right: 0;
    height: 100dvh;
    width: 35dvw;
  }
}
.heroPage-Container .heroText-Container {
  z-index: 3;
  position: relative;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroText-Container {
    position: absolute;
    margin: 4dvh 8dvw;
    top: 65dvh;
  }
}
@media only screen and (min-width: 640px) {
  .heroPage-Container .heroText-Container {
    margin: 5dvh 5dvw;
  }
}
.heroPage-Container .heroText-Container .heroHeading {
  font-family: "Innovator Grotesk";
  font-weight: 700;
  font-size: clamp(3.5dvw, 4.129dvh, 7.529dvw);
}
@media only screen and (min-width: 640px) {
  .heroPage-Container .heroText-Container .heroHeading {
    font-size: clamp(3dvh, 3.556dvw, 7dvh);
  }
}
.heroPage-Container .heroButton-Container {
  max-width: min-content;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroButton-Container {
    margin-top: 6.452dvh;
  }
}
.heroPage-Container .heroButton-Container .heroButton {
  color: #ffffff;
  font-weight: 700;
  background-color: #DD6545;
  font-family: "Innovator Grotesk";
  border-radius: 1rem;
  text-align: center;
  border: none;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroButton-Container .heroButton {
    width: 80dvw;
    padding: 1.548dvh 15.059dvw;
    font-size: clamp(1.581dvh, 4.706dvw, 3.581dvh);
  }
}
@media only screen and (min-width: 640px) {
  .heroPage-Container .heroButton-Container .heroButton {
    margin-top: 4.63dvh;
    font-size: clamp(1.5dvh, 1.458dvw, 3.5dvh);
    padding: 1dvh 1.667dvw;
  }
}

.whatWeDoContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  min-height: 100dvh;
}
.whatWeDoContainer .wwd-title {
  text-align: left;
  margin: 6.204dvh 0 5.168dvh 8.235dvw;
  color: #4f4138;
  font-family: "Innovator Grotesk";
  font-weight: 700;
}
@media only screen and (min-width: 640px) {
  .whatWeDoContainer .wwd-title {
    font-size: clamp(1.083dvw, 3.704dvh, 3dvw);
    margin: 11.49dvh auto 7.704dvh auto;
  }
}
.whatWeDoContainer .wwdContent-Container {
  margin: 0 8.235dvw;
  overflow-wrap: anywhere;
  color: #000000;
}
@media only screen and (min-width: 640px) {
  .whatWeDoContainer .wwdContent-Container {
    margin: 0 4.167dvw;
  }
}
.whatWeDoContainer .wwdContent-Container .wwd-Content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.967dvh 2.323dvw;
  gap: 4.967dvh 2.323dvw;
  margin-bottom: 7.239dvh;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item {
  display: flex;
  flex-direction: column;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-icon {
  background-color: #d1d5db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 13.176dvw;
  width: 13.176dvw;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-heading {
  margin-top: 3.225dvh;
  font-weight: bold;
  font-size: clamp(3.442dvw, 2.07dvh, 5.442dvw);
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-info {
  margin-top: 1.612dvh;
}
@media only screen and (min-width: 640px) {
  .whatWeDoContainer .wwdContent-Container .wwd-Content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8.267dvh 1.042dvw;
    gap: 8.267dvh 1.042dvw;
    margin-bottom: 10.341dvh;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-icon {
    width: 3.333dvw;
    height: 3.333dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-info {
    margin-right: 1.481dvw;
    font-size: clamp(0.333dvw, 1.812dvh, 1.633dvw);
  }
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .wwdContent-Container .wwd-desktopView {
    display: none;
  }
}
@media only screen and (min-width: 640px) {
  .whatWeDoContainer .wwdContent-Container .wwd-mobileView {
    display: none;
  }
}
.whatWeDoContainer .seeMore-Button {
  width: 100%;
  height: 100%;
  margin-bottom: 10.341dvh;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  .whatWeDoContainer .seeMore-Button {
    margin-top: -2.167dvw;
  }
}
.whatWeDoContainer .seeMore-Button .seeMore {
  background-color: #4f4138;
  color: #ffffff;
  padding: 0.827dvh 1.547dvw;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: clamp(0.233dvw, 1.612dvh, 1.433dvw);
  font-family: "Innovator Grotesk";
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .seeMore-Button .seeMore {
    padding: 1.227dvh 5.547dvw;
    font-size: clamp(3.233dvw, 1.612dvh, 1.433dvw);
  }
}
@media only screen and (min-width: 640px) {
  .whatWeDoContainer .mobile-Button {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .desktop-Button {
    display: none;
  }
}

.goal-Component {
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal-Component .goal-Container {
  background-color: #DD6545;
  width: 100vw;
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 640px) {
  .goal-Component .goal-Container {
    height: 60dvh;
    justify-content: flex-start;
  }
}
.goal-Component .goal-Container .goalText-Container {
  margin: 0 8.235dvw;
  font-family: "Innovator Grotesk";
  font-weight: 700;
}
@media only screen and (min-width: 640px) {
  .goal-Component .goal-Container .goalText-Container {
    margin: 0 15.625dvw;
  }
}
.goal-Component .goal-Container .goalText-Container .goal-Title {
  font-size: clamp(1.688dvw, 4.343dvh, 2.788dvw);
  margin-bottom: 6.204dvh;
}
@media only screen and (max-width: 639px) {
  .goal-Component .goal-Container .goalText-Container .goal-Title {
    font-size: clamp(8.688dvw, 4.343dvh, 2.788dvw);
  }
}
.goal-Component .goal-Container .goalText-Container .goal-Description {
  font-size: clamp(2.096dvw, 4.758dvh, 2.896dvw);
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (max-width: 639px) {
  .goal-Component .goal-Container .goalText-Container .goal-Description {
    font-size: clamp(8.688dvw, 4.343dvh, 2.788dvw);
  }
}
.goal-Component .goal-Container .goalText-Container .goal-Description .nextmgzn-Highlight {
  color: #4f4138;
  font-size: clamp(2.096dvw, 4.758dvh, 2.896dvw);
}
@media only screen and (max-width: 639px) {
  .goal-Component .goal-Container .goalText-Container .goal-Description .nextmgzn-Highlight {
    display: block;
    font-size: clamp(8.688dvw, 4.343dvh, 2.788dvw);
  }
}

.contactContainer {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fbfbfb;
}
.contactContainer .text-Container {
  width: 50%;
  margin: 0 auto;
}
.contactContainer .text-Container .header {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4f4138;
}
@media only screen and (min-width: 640px) {
  .contactContainer .text-Container .header {
    margin-top: 3.125rem;
  }
}
.contactContainer .text-Container .subheader {
  margin-top: 1.5rem;
  text-align: center;
  color: #717171;
}
@media only screen and (min-width: 640px) {
  .contactContainer .text-Container .subheader {
    margin: 1.5rem 0;
  }
}
.contactContainer .contactWrapper {
  height: 100%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.3125rem;
  display: flex;
  width: 90%;
  margin: 0 1.5rem;
  flex-direction: column;
  margin: 2.5rem auto;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper {
    margin-top: 5rem;
    margin-left: 2.5rem;
    min-height: 75dvh;
    flex-direction: row;
    margin: 0 auto;
  }
}
.contactContainer .contactWrapper .infoSection {
  width: 100%;
  background-color: #4f4138;
  color: #ffffff;
  border-radius: 0.3125rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection {
    width: 33.3333%;
    text-align: left;
  }
}
.contactContainer .contactWrapper .infoSection .title {
  font-size: 1.625rem;
  font-weight: bold;
}
.contactContainer .contactWrapper .infoSection .subtitle {
  margin-top: 1.875rem;
  font-size: 1rem;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .subtitle {
    margin-top: 1.25rem;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .contactInfo {
    margin-top: 5rem;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(1) {
  cursor: pointer;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(1) {
    justify-content: flex-start;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(2) a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(2) a {
    flex-direction: row;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(3) {
  cursor: pointer;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(3) {
    text-align: left;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem .mail-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem .phone {
  fill: #ffffff;
}
.contactContainer .contactWrapper .infoSection .socialIcons {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .socialIcons {
    margin-top: 11rem;
    justify-content: flex-start;
  }
}
.contactContainer .contactWrapper .infoSection .socialIcons .icon {
  width: 1.375rem;
  height: 1.375rem;
  margin: 0 1rem;
  background-color: #262626;
  border-radius: 50%;
  border: 0.625rem solid #262626;
}
.contactContainer .contactWrapper .infoSection .socialIcons .icon:hover {
  color: #262626;
  background-color: #ffffff;
  border-color: #ffffff;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .infoSection .socialIcons .icon {
    margin: 0 1rem 0 0;
  }
}
.contactContainer .contactWrapper .formSection {
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  font-family: "Innovator Grotesk";
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection {
    width: 50vw;
  }
}
.contactContainer .contactWrapper .formSection .form {
  display: flex;
  flex-direction: column;
}
.contactContainer .contactWrapper .formSection .formGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .formGroup {
    flex-direction: row;
    margin-bottom: 1.875rem;
  }
}
.contactContainer .contactWrapper .formSection .formGroup .formControl {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.contactContainer .contactWrapper .formSection .formGroup .formControl:focus-within label {
  color: #262626;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .formGroup .formControl:last-child {
    margin-right: 0;
  }
}
.contactContainer .contactWrapper .formSection .formGroup .formControl label {
  font-size: 1rem;
  color: #d1d5db;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .formGroup .formControl label {
    margin-bottom: 0.625rem;
  }
}
.contactContainer .contactWrapper .formSection .formGroup .formControl input, .contactContainer .contactWrapper .formSection .formGroup .formControl textarea {
  padding: 0.625rem;
  font-size: 1rem;
  font-family: "Innovator Grotesk";
  color: #262626;
  border: none;
  border-bottom: 1px solid #d1d5db;
  background-color: transparent;
  outline: none;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .formGroup .formControl input, .contactContainer .contactWrapper .formSection .formGroup .formControl textarea {
    margin-right: 3.125rem;
  }
}
.contactContainer .contactWrapper .formSection .formGroup .formControl input::placeholder, .contactContainer .contactWrapper .formSection .formGroup .formControl textarea::placeholder {
  color: #d1d5db;
}
.contactContainer .contactWrapper .formSection .formGroup .formControl input:focus, .contactContainer .contactWrapper .formSection .formGroup .formControl textarea:focus {
  border-bottom-color: #262626;
}
.contactContainer .contactWrapper .formSection .messageControl {
  margin-bottom: 1.875rem;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .messageControl {
    margin-top: 4.6875rem;
  }
}
.contactContainer .contactWrapper .formSection .messageControl:focus-within label {
  color: #262626;
}
.contactContainer .contactWrapper .formSection .messageControl label {
  font-size: 1rem;
  color: #d1d5db;
  margin-bottom: 0.625rem;
}
.contactContainer .contactWrapper .formSection .messageControl textarea {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  color: #262626;
  border: none;
  border-bottom: 1px solid #d1d5db;
  background-color: transparent;
  font-family: "Innovator Grotesk";
  outline: none;
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .messageControl textarea {
    width: 95%;
  }
}
.contactContainer .contactWrapper .formSection .messageControl textarea::placeholder {
  color: #d1d5db;
}
.contactContainer .contactWrapper .formSection .messageControl textarea:focus {
  border-bottom-color: #262626;
}
.contactContainer .contactWrapper .formSection .buttonContainer {
  position: relative;
}
.contactContainer .contactWrapper .formSection .buttonContainer .submitButton {
  padding: 0.9375rem;
  font-size: 1rem;
  background-color: #4f4138;
  color: #ffffff;
  border: none;
  cursor: pointer;
  letter-spacing: 0.0625rem;
  border-radius: 0.3125rem;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .buttonContainer .submitButton {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .contactContainer .contactWrapper .formSection .buttonContainer .submitButton {
    position: absolute;
    right: 0;
    margin-right: 3.125rem;
    border-radius: 1rem;
    padding: 0.9375rem 3rem;
    background-color: #DD6545;
  }
}
.contactContainer .contactWrapper .formSection .buttonContainer .submitButton:hover {
  background-color: #e58970;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  transition: scroll-snap-stop 5s ease-in-out;
}

.section {
  min-height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: auto;
}

.seeMore {
  max-height: 100dvh;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.seeMore.expanded {
  max-height: none;
}

.seeMoreButton {
  cursor: pointer;
  margin-top: 1rem;
}

.hiddenContent {
  margin-top: 1rem;
  overflow: hidden;
}

@media only screen and (min-width: 640px) {
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 639px) {
  .desktop-only {
    display: none;
  }
}
