/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/react-toastify/dist/ReactToastify.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: var(--toastify-toast-top);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--top-center {
  top: var(--toastify-toast-top);
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: var(--toastify-toast-top);
  right: var(--toastify-toast-right);
}
.Toastify__toast-container--bottom-left {
  bottom: var(--toastify-toast-bottom);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--bottom-center {
  bottom: var(--toastify-toast-bottom);
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: var(--toastify-toast-bottom);
  right: var(--toastify-toast-right);
}

@media only screen and (max-width : 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: env(safe-area-inset-left);
    margin: 0;
  }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    top: env(safe-area-inset-top);
    transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
    bottom: env(safe-area-inset-bottom);
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: env(safe-area-inset-right);
    left: initial;
  }
}
.Toastify__toast {
  --y: 0;
  position: relative;
  touch-action: none;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: var(--toastify-toast-bd-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  /* webkit only issue #791 */
  z-index: 0;
  overflow: hidden;
}
.Toastify__toast--stacked {
  position: absolute;
  width: 100%;
  transform: translate3d(0, var(--y), 0) scale(var(--s));
  transition: transform 0.3s;
}
.Toastify__toast--stacked[data-collapsed] .Toastify__toast-body, .Toastify__toast--stacked[data-collapsed] .Toastify__close-button {
  transition: opacity 0.1s;
}
.Toastify__toast--stacked[data-collapsed=false] {
  overflow: visible;
}
.Toastify__toast--stacked[data-collapsed=true]:not(:last-child) > * {
  opacity: 0;
}
.Toastify__toast--stacked:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: calc(var(--g) * 1px);
  bottom: 100%;
}
.Toastify__toast--stacked[data-pos=top] {
  top: 0;
}
.Toastify__toast--stacked[data-pos=bot] {
  bottom: 0;
}
.Toastify__toast--stacked[data-pos=bot].Toastify__toast--stacked:before {
  transform-origin: top;
}
.Toastify__toast--stacked[data-pos=top].Toastify__toast--stacked:before {
  transform-origin: bottom;
}
.Toastify__toast--stacked:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transform: scaleY(3);
  z-index: -1;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--close-on-click {
  cursor: pointer;
}
.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1 auto;
  padding: 6px;
  display: flex;
  align-items: center;
}
.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1 1;
}
.Toastify__toast-icon {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}

.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}

.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  align-self: flex-start;
  z-index: 1;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover, .Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp[data-hidden=true] {
  opacity: 0;
}
.Toastify__progress-bar--bg {
  opacity: var(--toastify-color-progress-bgo);
  width: 100%;
  height: 100%;
}

.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}

@keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, var(--y), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, var(--y), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  from {
    transform: translate3d(0, var(--y), 0) perspective(400px);
  }
  30% {
    transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes Toastify__spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=ReactToastify.css.map */
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/styles/main.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Innovator Grotesk";
  src: url(/_next/static/media/InnovatorGrotesk.3ca2663e.otf);
}
@font-face {
  font-family: "Innovator Grotesk Black";
  src: url(/_next/static/media/InnovatorGrotesk-Black.ebfbb403.otf);
}
@font-face {
  font-family: "Innovator Grotesk Bold";
  src: url(/_next/static/media/InnovatorGrotesk-Bold.24885c9b.otf);
}
@font-face {
  font-family: "Innovator Grotesk Extra Bold";
  src: url(/_next/static/media/InnovatorGrotesk-ExtraBold.f5fdb890.otf);
}
@font-face {
  font-family: "Innovator Grotesk Light";
  src: url(/_next/static/media/InnovatorGrotesk-Light.b12ea085.otf);
}
@font-face {
  font-family: "Innovator Grotesk Medium";
  src: url(/_next/static/media/InnovatorGrotesk-Medium.f2953a0a.otf);
}
@font-face {
  font-family: "Innovator Grotesk Regular";
  src: url(/_next/static/media/InnovatorGrotesk-Regular.67bd9d1e.otf);
}
.heroPage-Container.section.small-window {
  min-height: unset;
}

.heroPage-Container {
  background-color: #4f4138;
  position: relative;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container {
    max-height: 100svh;
  }
}
@media only screen and (min-width: 1141px) {
  .heroPage-Container .heroLogo-Container {
    position: relative;
  }
}
.heroPage-Container .heroLogo-Container .nextmgzn-logo {
  width: 12.5rem;
  height: 12.5rem;
  position: relative;
  z-index: 2;
  margin: 2.25dvw 8dvw;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .heroPage-Container .heroLogo-Container .nextmgzn-logo {
    position: relative;
    width: 14.375rem;
    height: 14.375rem;
    margin: 2.8125dvw 5dvw 0;
  }
}
@media only screen and (min-width: 1141px) {
  .heroPage-Container .heroLogo-Container .nextmgzn-logo {
    position: relative;
    width: 14.375rem;
    height: 14.375rem;
    margin: 2.8125dvw 5dvw;
  }
}
.heroPage-Container .heroBanner {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 65svh;
  object-fit: cover;
  width: 100vw;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .heroPage-Container .heroBanner {
    width: 47.5dvw;
    top: 0;
    right: 0;
    height: 100%;
  }
}
@media only screen and (min-width: 1141px) {
  .heroPage-Container .heroBanner {
    top: 0;
    right: 0;
    height: 100%;
    width: 42dvw;
  }
}
.heroPage-Container .heroText-Container {
  z-index: 1;
  position: relative;
  color: #ffffff;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroText-Container {
    position: absolute;
    top: 65svh;
    margin: 12dvw 10dvw;
    width: -webkit-fill-available;
    text-wrap: nowrap;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .heroPage-Container .heroText-Container {
    margin: 0 5dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .heroPage-Container .heroText-Container {
    margin: 2.8125dvw 5dvw;
  }
}
.heroPage-Container .heroText-Container .heroHeading {
  font-family: "Innovator Grotesk Extra Bold";
  font-weight: 700;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroText-Container .heroHeading {
    font-size: 5.5dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .heroPage-Container .heroText-Container .heroHeading {
    font-size: 3.85575dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .heroPage-Container .heroText-Container .heroHeading {
    font-size: 3.85575dvw;
  }
}
.heroPage-Container .heroButton-Container {
  max-width: min-content;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroButton-Container {
    max-width: min-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.heroPage-Container .heroButton-Container .heroButton {
  color: #ffffff;
  font-family: "Innovator Grotesk Bold";
  font-weight: 700;
  background-color: #DD6545;
  border-radius: 1rem;
  text-align: center;
  border: none;
}
@media only screen and (max-width: 639px) {
  .heroPage-Container .heroButton-Container .heroButton {
    width: 80vw;
    margin-top: 3.125rem;
    padding: 2dvw 15.059dvw;
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .heroPage-Container .heroButton-Container .heroButton {
    margin-top: 2.603125dvw;
    font-size: 2dvw;
    padding: 0.8dvw 2.667dvw;
    margin-bottom: 7rem;
  }
}
@media only screen and (min-width: 1141px) {
  .heroPage-Container .heroButton-Container .heroButton {
    margin-top: 2.603125dvw;
    font-size: 2dvw;
    padding: 0.8dvw 2.667dvw;
    margin-bottom: 7rem;
  }
}

.whatWeDoContainer.section {
  min-height: unset;
}

.whatWeDoContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
.whatWeDoContainer .wwd-title {
  text-align: left;
  color: #4f4138;
  font-family: "Innovator Grotesk Extra Bold";
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .wwd-title {
    font-size: 5.4dvw;
    margin: 10dvw 6.235dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .wwd-title {
    font-size: 3dvw;
    margin: 5.908dvw auto 3.961dvw auto;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .wwd-title {
    font-size: 3dvw;
    margin: 5.908dvw auto 3.961dvw auto;
  }
}
.whatWeDoContainer .wwdContent-Container {
  margin: 0 9dvw;
  overflow-wrap: anywhere;
  color: #000000;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .wwdContent-Container {
    margin: 0 4.167dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .wwdContent-Container {
    margin: 0 4.167dvw;
  }
}
.whatWeDoContainer .wwdContent-Container .wwd-Content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6dvw 9dvw;
  gap: 6dvw 9dvw;
  margin-bottom: 3.725dvw;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item {
  display: flex;
  flex-direction: column;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-icon {
  background-color: #d1d5db;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8.5dvw;
  width: 8.5dvw;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-heading {
  font-family: "Innovator Grotesk Bold";
  margin-top: 2.3dvw;
  font-size: 3.442dvw;
}
.whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-info {
  font-family: "Innovator Grotesk Regular";
  margin-top: 0.829dvw;
  font-size: 3dvw;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .wwdContent-Container .wwd-Content {
    grid-template-columns: repeat(3, 1fr);
    gap: 5dvw 2dvw;
    margin-bottom: 5.309dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-icon {
    width: 3.333dvw;
    height: 3.333dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-heading {
    font-size: 1.442dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-info {
    margin-right: 0.761dvw;
    font-size: 0.93dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .wwdContent-Container .wwd-Content {
    grid-template-columns: repeat(4, 1fr);
    gap: 4.254dvw 1.042dvw;
    margin-bottom: 5.309dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-icon {
    width: 3.333dvw;
    height: 3.333dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-heading {
    font-size: 1.442dvw;
  }
  .whatWeDoContainer .wwdContent-Container .wwd-Content .wwd-item .wwd-info {
    margin-right: 0.761dvw;
    font-size: 0.93dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .wwdContent-Container .wwd-mobileView {
    display: none;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .wwdContent-Container .wwd-mobileView {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .wwdContent-Container .wwd-tabletView {
    display: none;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .wwdContent-Container .wwd-tabletView {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .wwdContent-Container .wwd-desktopView {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .wwdContent-Container .wwd-desktopView {
    display: none;
  }
}
.whatWeDoContainer .seeMore-Button {
  width: 100%;
  height: 100%;
  margin-bottom: 5.309dvw;
  text-align: center;
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .seeMore-Button {
    margin-top: 8dvw;
    margin-bottom: 7.5dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .seeMore-Button {
    margin-top: -1.114dvw;
    margin-bottom: 4.3dvw;
  }
}
.whatWeDoContainer .seeMore-Button .seeMore {
  background-color: #4f4138;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-family: "Innovator Grotesk Medium";
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .seeMore-Button .seeMore {
    padding: 1.631dvw 3.856dvw;
    font-size: 3.233dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .seeMore-Button .seeMore {
    padding: 0.8dvw 3dvw;
    font-size: 1.2dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .seeMore-Button .seeMore {
    padding: 0.8dvw 3dvw;
    font-size: 1.2dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .mobile-Button {
    display: none;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .mobile-Button {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .tablet-Button {
    display: none;
  }
}
@media only screen and (min-width: 1141px) {
  .whatWeDoContainer .tablet-Button {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .whatWeDoContainer .desktop-Button {
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .whatWeDoContainer .desktop-Button {
    display: none;
  }
}

.goal-Component.section {
  min-height: unset;
}

.goal-Component {
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.goal-Component .goal-Container {
  background-color: #DD6545;
  width: 100vw;
  height: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .goal-Component .goal-Container {
    height: 25dvw;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1141px) {
  .goal-Component .goal-Container {
    height: 25dvw;
    justify-content: flex-start;
  }
}
.goal-Component .goal-Container .goalText-Container {
  margin: 0 8.235dvw;
  font-family: "Innovator Grotesk Extra Bold";
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .goal-Component .goal-Container .goalText-Container {
    margin: 0 5dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .goal-Component .goal-Container .goalText-Container {
    margin: 0 5dvw;
  }
}
.goal-Component .goal-Container .goalText-Container .goal-Title {
  font-size: 2.8dvw;
  margin-bottom: 4dvw;
}
@media only screen and (max-width: 639px) {
  .goal-Component .goal-Container .goalText-Container .goal-Title {
    font-size: 7.9dvw;
    margin-bottom: 10dvw;
  }
}
.goal-Component .goal-Container .goalText-Container .goal-Description {
  font-size: 2.8dvw;
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (max-width: 639px) {
  .goal-Component .goal-Container .goalText-Container .goal-Description {
    font-size: 7.9dvw;
  }
}
.goal-Component .goal-Container .goalText-Container .goal-Description .nextmgzn-Highlight {
  color: #4f4138;
  font-size: 2.8dvw;
}
@media only screen and (max-width: 639px) {
  .goal-Component .goal-Container .goalText-Container .goal-Description .nextmgzn-Highlight {
    display: block;
    font-size: 7.9dvw;
  }
}

.contactContainer.section.small-window {
  min-height: unset;
}

.contactContainer {
  min-height: 85dvh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f9f9f9;
}
@media only screen and (max-width: 639px) {
  .contactContainer {
    background-color: #ffffff;
  }
}
.contactContainer .page-Wrapper {
  margin: 0 auto;
}
@media only screen and (max-width: 639px) {
  .contactContainer .page-Wrapper {
    min-height: 100svh;
    margin: 0 8dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .page-Wrapper {
    max-width: 85dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .page-Wrapper {
    max-width: 85dvw;
  }
}
.contactContainer .text-Container {
  width: 42.5%;
  margin: 0 auto;
}
@media only screen and (max-width: 639px) {
  .contactContainer .text-Container {
    width: 70dvw;
    margin: 0;
  }
}
.contactContainer .text-Container .header {
  width: 100%;
  margin-top: 4.587dvw;
  text-align: center;
  font-size: 3.701dvw;
  font-weight: bold;
  color: #4f4138;
  font-family: "Innovator Grotesk";
}
@media only screen and (max-width: 639px) {
  .contactContainer .text-Container .header {
    font-size: 8dvw;
    text-align: left;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .text-Container .header {
    margin-top: 3.4dvw;
    font-size: 2.38dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .text-Container .header {
    margin-top: 3.4dvw;
    font-size: 2.38dvw;
  }
}
.contactContainer .text-Container .subheader {
  text-align: center;
  color: #717171;
  font-family: "Innovator Grotesk Regular";
}
@media only screen and (max-width: 639px) {
  .contactContainer .text-Container .subheader {
    text-align: left;
    margin-top: 4dvw;
    font-size: 4dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .text-Container .subheader {
    margin: 1.355dvw 0;
    font-size: 0.935dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .text-Container .subheader {
    font-size: 0.935dvw;
    margin: 1.355dvw 0;
  }
}
.contactContainer .contactWrapper {
  height: 100%;
  background-color: #ffffff;
  padding: 0.9dvw;
  border-radius: 0.3125rem;
  display: flex;
  width: 76.5%;
  margin: 0 1.641dvw;
  flex-direction: column;
  margin: 2.255dvw auto;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper {
    margin-top: 3.601dvw;
    margin-left: 1.804dvw;
    min-height: 32.772dvw;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1.7dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper {
    margin-top: 3.601dvw;
    margin-left: 1.804dvw;
    min-height: 32.772dvw;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1.7dvw;
  }
}
.contactContainer .contactWrapper .infoSection {
  width: 85%;
  background-color: #4f4138;
  color: #ffffff;
  border-radius: 0.3125rem;
  padding: 2.162dvw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection {
    width: 25.5dvw;
    text-align: left;
    height: 33dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection {
    width: 25.5dvw;
    text-align: left;
    height: 33dvw;
  }
}
.contactContainer .contactWrapper .infoSection .title {
  font-size: 2.403dvw;
  font-family: "Innovator Grotesk Bold";
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .title {
    font-size: 1.36dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .title {
    font-size: 1.36dvw;
  }
}
.contactContainer .contactWrapper .infoSection .subtitle {
  margin-top: 1.691dvw;
  font-family: "Innovator Grotesk Regular";
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .subtitle {
    margin-top: 1.129dvw;
    font-size: 0.935dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .subtitle {
    margin-top: 1.129dvw;
    font-size: 0.935dvw;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo {
  margin-top: 3.181dvw;
  display: flex;
  flex-direction: column;
  gap: 2.669dvw;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo {
    margin-top: 4dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo {
    margin-top: 4dvw;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.128dvw;
  font-family: "Innovator Grotesk Regular";
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    font-size: 0.935dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    font-size: 0.935dvw;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(1) {
  cursor: pointer;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(1) {
    font-size: 0.935dvw;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(1) {
    justify-content: flex-start;
    font-size: 0.935dvw;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(2) a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1.128dvw;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(2) a {
    font-size: 0.935dvw;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(2) a {
    flex-direction: row;
    font-size: 0.935dvw;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(3) {
  cursor: pointer;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(3) {
    font-size: 0.935dvw;
    text-align: left;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem:nth-child(3) {
    font-size: 0.935dvw;
    text-align: left;
  }
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem .mail-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContainer .contactWrapper .infoSection .contactInfo .contactItem .phone {
  fill: #ffffff;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem .phone {
    height: 1.275dvw;
    width: 1.275dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem .phone {
    height: 1.275dvw;
    width: 1.275dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem .lucide-mail {
    height: 1.275dvw;
    width: 1.275dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem .lucide-mail {
    height: 1.275dvw;
    width: 1.275dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem .lucide-map-pin {
    height: 1.275dvw;
    width: 2.125dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .contactInfo .contactItem .lucide-map-pin {
    height: 1.275dvw;
    width: 2.125dvw;
  }
}
.contactContainer .contactWrapper .infoSection .socialIcons {
  margin-top: 3.356dvw;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .socialIcons {
    margin-top: 6.5dvw;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .socialIcons {
    margin-top: 6.5dvw;
    justify-content: flex-start;
  }
}
.contactContainer .contactWrapper .infoSection .socialIcons .icon {
  width: 0.437dvw;
  height: 0.437dvw;
  margin: 0 0.56dvw;
  background-color: #262626;
  border-radius: 50%;
  border: 0.51dvw solid #262626;
}
.contactContainer .contactWrapper .infoSection .socialIcons .icon:hover {
  color: #262626;
  background-color: #ffffff;
  border-color: #ffffff;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .infoSection .socialIcons .icon {
    margin: 0 0.56dvw 0 0;
    height: 1.275dvw;
    width: 1.275dvw;
    border: 0.51dvw solid #262626;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .infoSection .socialIcons .icon {
    width: 1.275dvw;
    height: 1.275dvw;
    border: 0.51dvw solid #262626;
    margin: 0 0.56dvw 0 0;
  }
}
.contactContainer .contactWrapper .formSection {
  margin: 0 auto;
  padding: 1.355dvw 0.676dvw;
  font-family: "Innovator Grotesk";
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection {
    width: 67dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection {
    width: 67dvw;
  }
}
.contactContainer .contactWrapper .formSection .form {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form {
    padding-left: 3.4dvw;
    padding-top: 2.125dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form {
    padding-left: 3.4dvw;
    padding-top: 2.125dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .formGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .formGroup {
    flex-direction: row;
    margin-bottom: 1.691dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .formGroup {
    flex-direction: row;
    margin-bottom: 1.691dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9dvw;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl {
    margin: 1.2dvw 0;
  }
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl:focus-within label {
  color: #262626;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl:last-child {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl:last-child {
    margin-right: 0;
  }
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl label {
  color: #8D8D8D;
  font-family: "Innovator Grotesk Regular";
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl label {
    font-size: 4dvw;
    margin-bottom: 3dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl label {
    margin-bottom: 0.677dvw;
    font-size: 0.85dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl label {
    margin-bottom: 0.677dvw;
    font-size: 0.85dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl input, .contactContainer .contactWrapper .formSection .form .formGroup .formControl textarea {
  font-size: 0.85rem;
  font-family: "Innovator Grotesk";
  color: #262626;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  background-color: transparent;
  outline: none;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl input, .contactContainer .contactWrapper .formSection .form .formGroup .formControl textarea {
    padding: 0.797dvw 3dvw;
    border-radius: 0;
    font-size: 4dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl input, .contactContainer .contactWrapper .formSection .form .formGroup .formControl textarea {
    margin-right: 2.945dvw;
    padding: 0.677dvw;
    font-size: 1.02dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .formGroup .formControl input, .contactContainer .contactWrapper .formSection .form .formGroup .formControl textarea {
    font-size: 1.02dvw;
    padding: 0.677dvw;
    margin-right: 2.945dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl input::placeholder, .contactContainer .contactWrapper .formSection .form .formGroup .formControl textarea::placeholder {
  color: #d1d5db;
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl input:focus, .contactContainer .contactWrapper .formSection .form .formGroup .formControl textarea:focus {
  border-bottom-color: #262626;
}
.contactContainer .contactWrapper .formSection .form .formGroup .formControl input:-webkit-autofill,
.contactContainer .contactWrapper .formSection .form .formGroup .formControl input:-webkit-autofill:focus,
.contactContainer .contactWrapper .formSection .form .formGroup .formControl input:-webkit-autofill:hover {
  -webkit-transition: background-color 0s 600000s, color 0s 600000s !important;
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
.contactContainer .contactWrapper .formSection .form .messageControl {
  margin-bottom: 1.691dvw;
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .messageControl {
    margin-top: 2.5dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .messageControl {
    margin-top: 2.5dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .messageControl:focus-within label {
  color: #262626;
}
.contactContainer .contactWrapper .formSection .form .messageControl label {
  color: #8D8D8D;
  font-family: "Innovator Grotesk Regular";
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .messageControl label {
    font-size: 4dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .messageControl label {
    margin-bottom: 0.677dvw;
    font-size: 0.85dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .messageControl label {
    margin-bottom: 0.677dvw;
    font-size: 0.85dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .messageControl textarea {
  width: 100%;
  color: #262626;
  border: none;
  border-bottom: 1px solid #8D8D8D;
  background-color: transparent;
  font-family: "Innovator Grotesk";
  outline: none;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .messageControl textarea {
    font-size: 4dvw;
    margin-top: 3dvw;
    padding: 0 3dvw;
    height: 10dvw;
    border-radius: 0;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .messageControl textarea {
    font-size: 1.02dvw;
    width: 93.5%;
    padding-left: 0.677dvw;
    padding-top: 1.275dvw;
    height: 3.358dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .messageControl textarea {
    font-size: 1.02dvw;
    width: 93.5%;
    padding-left: 0.677dvw;
    padding-top: 1.275dvw;
    height: 3.358dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .messageControl textarea::placeholder {
  color: #8D8D8D;
}
.contactContainer .contactWrapper .formSection .form .messageControl textarea:focus {
  border-bottom-color: #262626;
}
.contactContainer .contactWrapper .formSection .form .errorText {
  display: block;
  font-size: 0.935dvw;
  color: red;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .errorText {
    font-size: 3.3dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .buttonContainer {
  position: relative;
}
.contactContainer .contactWrapper .formSection .form .buttonContainer .submitButton {
  padding: 0.677dvw;
  font-size: 0.85rem;
  background-color: #4f4138;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
}
@media only screen and (max-width: 639px) {
  .contactContainer .contactWrapper .formSection .form .buttonContainer .submitButton {
    width: 100%;
    padding: 4dvw;
    font-size: 5dvw;
    border-radius: 1rem;
    margin-top: 6dvw;
    margin-bottom: 6dvw;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .contactContainer .contactWrapper .formSection .form .buttonContainer .submitButton {
    position: absolute;
    right: 0;
    margin-right: 2.988dvw;
    border-radius: 1rem;
    padding: 0.677dvw 2.191dvw;
    background-color: #DD6545;
    font-size: 1.02dvw;
  }
}
@media only screen and (min-width: 1141px) {
  .contactContainer .contactWrapper .formSection .form .buttonContainer .submitButton {
    position: absolute;
    right: 0;
    margin-right: 2.988dvw;
    border-radius: 1rem;
    padding: 0.677dvw 2.191dvw;
    background-color: #DD6545;
    font-size: 1.02dvw;
  }
}
.contactContainer .contactWrapper .formSection .form .buttonContainer .submitButton:hover {
  background-color: #4f4138;
}
.contactContainer .footer-Wrapper {
  color: #ffffff;
  background-color: #4f4138;
  min-height: 80svh;
}
.contactContainer .footer-Wrapper .title {
  font-family: "Innovator Grotesk Black";
  font-size: 4.25dvw;
  margin: 6.8dvw 5.1dvw 12.75dvw;
}
.contactContainer .footer-Wrapper .footer-Container {
  display: flex;
  flex-direction: row;
}
.contactContainer .footer-Wrapper .footer-Container .contactInfo {
  margin-left: 5.1dvw;
  width: 55%;
}
.contactContainer .footer-Wrapper .footer-Container .contactInfo .contacttitle {
  font-size: 3.4dvw;
  font-family: "Innovator Grotesk Bold";
  margin-bottom: 5.1dvw;
}
.contactContainer .footer-Wrapper .footer-Container .contactInfo .contactsubtitle {
  font-family: "Innovator Grotesk Light";
  font-size: 2.55dvw;
  margin-right: 6.8dvw;
}
.contactContainer .footer-Wrapper .footer-Container .contactInfo .contactItem {
  margin: 5.1dvw 0;
}
.contactContainer .footer-Wrapper .footer-Container .contactInfo .contactItem .icon {
  margin-bottom: 1.7dvw;
}
.contactContainer .footer-Wrapper .footer-Container .legalInfo {
  display: none;
}
.contactContainer .footer-Wrapper .footer-Container .legalInfo .legaltitle {
  font-size: 3.4dvw;
  font-family: "Innovator Grotesk Bold";
  margin-bottom: 5.1dvw;
}
.contactContainer .footer-Wrapper .footer-Container .legalInfo .legalsubtitle {
  font-family: "Innovator Grotesk Light";
  font-size: 2.55dvw;
  margin: 3.4dvw 0;
}
.contactContainer .footer-Wrapper .socialtitle {
  text-align: center;
  font-size: 3.4dvw;
  font-family: "Innovator Grotesk Light";
  margin-bottom: 5.1dvw;
  margin-top: 25.5dvw;
}
.contactContainer .footer-Wrapper .socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.5dvw;
}
.contactContainer .footer-Wrapper .socialIcons .fa-linkedin, .contactContainer .footer-Wrapper .socialIcons .fa-instagram {
  height: 5.95dvw;
  width: 5.95dvw;
}
.contactContainer .footer-Wrapper .socialIcons .icon {
  padding: 0 2.55dvw;
  color: white;
  fill: white;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: scroll-snap-stop 5s ease-in-out;
}

.section {
  min-height: 100dvh;
  overflow: auto;
}

.seeMore {
  max-height: 100dvh;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.seeMore.expanded {
  max-height: none;
}

.seeMoreButton {
  cursor: pointer;
  margin-top: 1rem;
}

.hiddenContent {
  margin-top: 1rem;
  overflow: hidden;
}

@media only screen and (min-width: 640px) and (max-width: 1140px) {
  .mobile-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1141px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: 639px) {
  .desktop-only {
    display: none !important;
  }
}
